.progressCat {
    position: relative;
    width: 100%;
    max-width: 480px;
    background: none;
    border: 0;
    height: auto;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
  .progressCat progress {
    position: relative;
    display: block;
    height: 20px;
    width: 100%;
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  .progressCat ::-moz-progress-bar {
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .progressCat ::-webkit-progress-bar {
    background-color: rgb(230, 230, 230);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .progressCat ::-webkit-progress-value {
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .progressCat .animal {
    position: absolute;
    display: block;
    top: -1.33rem;
    left: calc(var(--move) - 2.1rem);
    transform: scaleX(-1);
    font-size: 2.2rem;
    z-index: 1;
  }